@model RentACar.Models.Car
@{
    ViewBag.Title = "CarUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Xeber Yenile</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" action="@Url.Action("Update","Car", new {Id = Model.Id })"  enctype="multipart/form-data" role="form">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Model</label>
                    <input type="text" value="@Model.Model" name="Model" class="form-control" id="exampleInputEmail1" placeholder="Ad Basliq Edin">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">SuretQutusu</label>
                    <input type="text" name="SuretQutusu" value="@Model.SuretQutusu" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">SernisinSayi</label>
                    <input type="text" name="SernisinSayi" value="@Model.SernisinSayi" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>
               
                <div class="form-group">
                    <label for="exampleInputEmail1">Baqaj</label>
                    <input type="text" name="Baqaj" value="@Model.Baqaj" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Klometraj</label>
                    <input type="text" name="Klometraj" value="@Model.Klometraj" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Buraxilisili</label>
                    <input type="text" name="Buraxilisili" value="@Model.Buraxilisili" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Qiymet1_3</label>
                    <input type="text" name="Qiymet1_3" value="@Model.Qiymet1_3" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Qiymet4_12</label>
                    <input type="text" name="Qiymet4_12" value="@Model.Qiymet4_12" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Qiymet12_30</label>
                    <input type="text" name="Qiymet12_30" value="@Model.Qiymet12_30" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Qiymet30GundenCox</label>
                    <input type="text" name="Qiymet30GundenCox" value="@Model.Qiymet30GundenCox" class="form-control" id="exampleInputEmail1" placeholder="Ad Metn Edin">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Marka</label>
                    <select name="CarMarkalId" class="form-control">
                        <option>--Secin</option>
                        @foreach (var cat in ViewBag.Marka)
                        {
                            @*<option @if (cat.Id == Model.CategoryId) { "selected"} else { ""} value="@cat.Id">@cat.Name</option>*@
                            <option @(cat.Id == Model.CarMarkalId ? "selected" : " ") value="@cat.Id">@cat.Ad</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Siniff</label>
                    <select name="CarClassId" class="form-control">
                        <option>--Secin</option>
                        @foreach (var cat in ViewBag.Class)
                        {
                            @*<option @if (cat.Id == Model.CategoryId) { "selected"} else { ""} value="@cat.Id">@cat.Name</option>*@
                            <option @(cat.Id == Model.CarClassId ? "selected" : " ") value="@cat.Id">@cat.Ad</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Novu</label>
                    <select name="CarTypeId" class="form-control">
                        <option>--Secin</option>
                        @foreach (var cat in ViewBag.Type)
                        {
                            @*<option @if (cat.Id == Model.CategoryId) { "selected"} else { ""} value="@cat.Id">@cat.Name</option>*@
                            <option @(cat.Id == Model.CarTypeId ? "selected" : " ") value="@cat.Id">@cat.Ad</option>
                        }

                    </select>
                </div>

                <img src="~/Images/@Model.Sekil" height="150" />

                <div class="form-group">
                    <label for="exampleInputEmail1">Sekil</label>
                    <input type="file" name="Sekil" class="form-control" id="exampleInputEmail1">
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Yenile</button>
            </div>
        </form>
    </div>
    <!-- /.card -->
    <!-- Form Element sizes -->



</div>
